﻿@model Library.Domain.Entities.ContentEntity 
@{
    ViewBag.Title = "Article";
}

<h2>@ViewBag.Message</h2>


<section id="createForm">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @id = "Title" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Authors", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">| 
                    @foreach (var author in Model.Matches)
            {
                            <a href="/Preview/Author/@author.Author.Id">
                                @author.Author.Name
                            </a>@Html.Raw(" | ");
                    }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @id = "Description" })
            </div>
        </div>
    </div>
</section>