﻿@{
    ViewBag.Title = "Author";
}

<h2>@ViewBag.Message</h2>


<section id="createForm">
    <div class="form-horizontal">
        <div id="grid" style="margin-bottom:20px"></div>
        <span id="notification"></span>
    </div>
</section>

@Scripts.Render("/bundles/AuthorGrid")