﻿@model Library.Domain.Entities.ContentEntity
@{
    ViewBag.Title = "Article";
}

<h2>@ViewBag.Message</h2>


<section id="createForm">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <p class="form-control" style="border:none;">
                    @Html.DisplayTextFor(m => m.Title)
                </p>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Authors", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                |
                @foreach (var author in Model.Matches)
            {
                    <a href="/Preview/Author/@author.Author.Id">
                        @author.Author.Name
                    </a>@Html.Raw(" | ");
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <p class="form-control" style="border:none;">
                    @Html.DisplayTextFor(m => m.Content)
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "/api/"
                },
                schema: {
                    model: {
                        fields: {
                            OrderID: { type: "number" },
                            Freight: { type: "number" },
                            ShipName: { type: "string" },
                            OrderDate: { type: "date" },
                            ShipCity: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                field: "OrderID",
                filterable: false
            },
                "Freight",
                {
                    field: "OrderDate",
                    title: "Order Date",
                    format: "{0:MM/dd/yyyy}"
                }, {
                    field: "ShipName",
                    title: "Ship Name"
                }, {
                    field: "ShipCity",
                    title: "Ship City"
                }
            ]
        });
    });
</script>