﻿@model Library.Domain.Entities.Author
@{
    ViewBag.Title = "Author";
}

<h2>@ViewBag.Message</h2>


<section id="createForm">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <p class="form-control" style="border:none;">
                    @Html.DisplayTextFor(m => m.Name)
                </p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <p class="form-control" style="border:none;">
                    @Html.DisplayTextFor(m => m.Description)
                </p>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Books", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <ul>
                    @foreach (var book in Model.Matches.Where(x => x.Content is Library.Domain.Entities.Book))
            {
                        <li>
                            <a href="/Preview/Book/@book.Content.Id">
                                @book.Content.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Articles", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <ul>
                    @foreach (var article in Model.Matches.Where(x => x.Content is Library.Domain.Entities.Article))
                    {
                        <li>
                            <a href="/Preview/Article/@article.Content.Id">
                                @article.Content.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>