﻿@model Library.Domain.Entities.ContentEntity
@{
    ViewBag.Title = "Book";
}

<h2>@ViewBag.Message</h2>

<section id="createForm">

    <div class="jumbotron">
        <h1>@Html.DisplayTextFor(m => m.Title)</h1>
        <p class="lead">| 
            @foreach (var author in Model.Matches)
            {
                <a href="/Preview/Author/@author.Author.Id">
                    @author.Author.Name
                </a>@Html.Raw(" | ");
            }
        </p>
        <hr style="border-top: 1px solid #000;" />
        <p>@Html.DisplayTextFor(m => m.Content)</p>
    </div>
</section>