﻿@model Library.Models.ListingPageModel
@{
    ViewBag.Title = "Articles";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<ul>
    @foreach (var article in Model.Content)
    {
        <li><a href="/Preview/Article/@article.Id">@article.Title</a></li>
    }
</ul>
@Html.Raw(Library.Helpers.Pagination.GeneratePagination("/Home/Articles", Model.Page, Model.PageCount))