﻿@model Library.Models.ListingPageModel
@{
    ViewBag.Title = "Authors";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<ul>
    @foreach (var author in Model.Authors)
    {
        <li><a href="/Preview/Author/@author.Id">@author.Name</a></li>
    }
</ul>
@Html.Raw(Library.Helpers.Pagination.GeneratePagination("/Home/Authors", Model.Page, Model.PageCount))