﻿@model Library.Models.ListingPageModel
@{
    ViewBag.Title = "Books";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<ul>
    @foreach (var book in Model.Content)
    {
        <li><a href="/Preview/Book/@book.Id">@book.Title</a></li>
    }
</ul>
@Html.Raw(Library.Helpers.Pagination.GeneratePagination("/Home/Books", Model.Page, Model.PageCount))