﻿@model Library.Models.AuthorModel
@{
    ViewBag.Title = "Author";
}

<h2>@ViewBag.Message</h2>


<section id="createForm">
    <div class="form-horizontal">
        @using (Html.BeginForm("Author", "Create", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            if (Model != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> New author added to database.
                </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger", @role = "alert" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "Description" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" value="Submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        }
    </div>
</section>