﻿@model Library.Models.ContentModel
@{
    ViewBag.Title = "Content";
}

<h2>@ViewBag.Message</h2>


<section id="createForm">
    @using (Html.BeginForm("Content", "Create", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if (Model != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> New content added to database.
            </div>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger", @role = "alert" })
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @id = "Title" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @id = "Content" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Type, new List<SelectListItem>() { new SelectListItem() { Text = "Book", Value = "0" }, new SelectListItem() { Text = "Article", Value = "1" } }, new { @class = "form-control", @id = "Type" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Authors, new { @class = "col-md-2 control-label" })
            @Html.ValidationMessageFor(m => m.Authors, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Authors, new { @class = "form-control", @id = "AuthorsAC", @name = "AuthorsAC" }) <br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"></div>
            <div class="col-md-10" id="AuthorsList">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/ContentUI")
</section>